.button__wrapper{
a{
    text-decoration: none;
    display: block;
    button{
        cursor: pointer;
        display: flex;
        flex: 1;
        padding: 10 25;
        background-color: purple;
        color: white;
        align-items: center;
        justify-content: center;
    }
}
}